body {
    background-color: #f1e3b1;
}
  
h1 {
    color: black;
    font-weight: 700;
    text-align: center;
}
  
p {
    color: black;
    font-weight: 400;
    text-align: center;
}