@font-face {
    font-family: Plastic;
    src: url("Plastic.ttf");
}
@font-face {
    font-family: KoHo;
    src: url("KoHo.ttf");
}

body {
    background-color: #f1e3b1;
}
  
h1 {
    color: black;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    font-family: KoHo;
}
  
p {
    color: black;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    font-family: KoHo;
}

@media only screen and (max-width: 1250px) {
    h1 {
        font-weight: 700;
        font-size: 80px;
    }

    p {
        font-weight: 450;
        font-size: 24px;
    }
}