@font-face {
    font-family: Plastic;
    src: url("Plastic.ttf");
}

body {
    background-color: #f1e3b1;
}
  
h1 {
    color: black;
    font-family: Plastic;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 24px 48px;
    text-align: center;
    font-size: 24px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.25s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15px;
    width: 18%;
    margin-left: 41%;
    margin-right: 41%;
}
  
.button:hover {opacity: 0.85}

@media only screen and (max-width: 1250px) {
    h1 {
        font-weight: 600;
        font-size: 80px;
    }

    .button {
        padding: 48px 96px;
        font-size: 48px;
        margin: 4px 10px;
        border-radius: 25px;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}
